/************
*Navigation**
***************/
.top{
	background: rgb(0, 0, 0);
}
.top a{
	color: #fff;
}

/* Blocks */
.intro-section {
  background-size: cover;
  position: relative;
  height: 450px;width: 100%; }
  .intro-section img{
  	height: 100%;width: 100%;
  }
  .intro-section .overlay{
  	position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    content: '';
    opacity: .3;
    background: #6a00ff;
    background: -moz-linear-gradient(left, #6a00ff 0%, #ffd900 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, #6a00ff), color-stop(100%, #ffd900));
    background: -webkit-linear-gradient(left, #6a00ff 0%, #ffd900 100%);
    background: -o-linear-gradient(left, #6a00ff 0%, #ffd900 100%);
    background: -ms-linear-gradient(left, #6a00ff 0%, #ffd900 100%);
    background: -webkit-gradient(linear, left top, right top, from(#6a00ff), to(#ffd900));
    background: linear-gradient(to right, #6a00ff 0%, #ffd900 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6a00ff', endColorstr='#ffd900', GradientType=1 );
  }
  .intro-section .container .row {
  	position: absolute;
  	top: 185px;left: 100px;
  }
   .intro-section:before {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background: #222;
    opacity: .7;
    border-bottom-right-radius: 0px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; }
    .intro-section .slider-text h1{
      font-size: 4rem;
      font-weight: 900;
      color: #fff; }
  .intro-section p {
    color: rgba(255, 255, 255, 0.5);
    font-size: 1.1rem;
    max-width: 400px; }
    @media (max-width: 991.92px) {
      .intro-section {
        background-size: cover;
        position: relative;
        height: 350px;width: 100%; }
        .intro-section img{
          height: 100%;width: 100%;
        }
      .intro-section .container .row {
        position: absolute;
        top: 80px;left: 0px;
      }
      .intro-section .slider-text h1{
        font-size: 2rem;
        font-weight: 800;
        color: #fff; } }

/*
flip card
*/
.card-flip > div {
  backface-visibility: hidden;
  transition: transform 300ms;
  transition-timing-function: linear;
  width: 100%;
  height: 100%;
  margin: 0;
  display: flex;
}

.card-front {
  transform: rotateY(0deg);
}

.card-back {
  transform: rotateY(180deg);
  position: absolute;
  top: 0;
}

.card-flip:hover .card-front {
  transform: rotateY(-180deg);
}
  
.card-flip:hover .card-back {
  transform: rotateY(0deg);
}

